// MIXINS
.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}


.border-radius(@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.text-size-adjust(@size: 100%) {
  -moz-text-size-adjust: @size;
  -webkit-text-size-adjust: @size;
  -ms-text-size-adjust: @size;
}

.transition(@transition: all 1s) {
  -moz-transition: @transition;
  -webkit-transition: @transition;
  transition: @transition;
}

.box-shadow(@shadow) {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
};

