// MIXINS
.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}


.border-radius(@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.text-size-adjust(@size: 100%) {
  -moz-text-size-adjust: @size;
  -webkit-text-size-adjust: @size;
  -ms-text-size-adjust: @size;
}

.transition(@transition: all 1s) {
  -moz-transition: @transition;
  -webkit-transition: @transition;
  transition: @transition;
}

.box-shadow(@shadow) {
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  box-shadow: @shadow;
};

.image-text-replacement(@width, @height) {
  display: inline-block;
  width: @width;
  height: @height;
  text-indent: -9999px;
}

.logo-vertical-dark() {
  .image-text-replacement(93px, 67px);
  background: url(../images/template/logo-vert-low.png) no-repeat center center;
  .backgroundsize & {
    background: url(../images/template/logo-vert-hi.png);
    background-size: contain;
  }
}
.logo-horizontal-dark() {
  .image-text-replacement(200px, 50px);
  background: url(../images/template/logo-horiz-low.png) no-repeat center center;
  .backgroundsize & {
    background: url(../images/template/logo-horiz-hi.png);
    background-size: contain;
  }
}
.logo-horizontal-light() {
  .image-text-replacement(200px, 50px);
  background: url(../images/template/logo-white-horiz-low.png) no-repeat center center;
  .backgroundsize & {
    background: url(../images/template/logo-white-horiz-hi.png);
    background-size: contain;
  }
}

.nav-stacked() {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.nav-inline() {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

